body {
  margin-top: 135px;
}
section {
  scroll-margin-top: 150px;
  padding-top: 20px;
}

.store {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.card {
  overflow: hidden;
}

.discount-tag {
  position: absolute;
  top: 15px;
  right: -35px;
  background: red;
  color: white;
  padding: 5px 35px 5px 35px;
  transform: rotateZ(45deg);
}
