/* html {
  scroll-padding-top: 250px;
} */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.25;
  margin-top: 135px;
}
section {
  scroll-margin-top: 130px;
}

.job-position {
  font-size: 18px;
  margin-bottom: 10px;
}

section,
footer {
  margin-left: 200px;
  margin-right: 200px;
}

section {
  border: 3px solid #101d6b;
  margin-bottom: 30px;
  padding: 0 20px 15px 20px;
}

section > h2 {
  color: #101d6b;
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

#portfolio-section > ul > li {
  margin-bottom: 10px;
}

#contact-section {
  padding-bottom: 10px;
}

.main-header {
  border-bottom: 3px solid #101d6b;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  transition: 0.6s;
  z-index: 1000;
}

.main-header__photo {
  height: 100px;
  margin-right: 20px;
  margin-left: 190px;
  position: relative;
}

.main-header__name {
  font-weight: 700;
  font-size: 24px;
  margin-top: 42px;
}

/* .main-nav {
  width: calc(100% - 250px);
} */

.main-nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 25px 0 0 180px;
  gap: 20px;
}

.main-nav__link {
  padding: 0;
  margin: 20px 0 0 0;
  font-weight: 700;
  font-size: 20px;
}

.main-nav__link a:hover {
  position: relative;
  left: 5px;
  top: 5px;
  color: #101d6b;
  /* box-shadow: 0 0 15px rgba(16, 29, 107, 0.3); */
}

.main-nav__link a {
  text-decoration: none;
  color: #000000;
}

input {
  outline: none;
}

/* input:invalid {
  border: 2px solid red;
} */

input[type="text"]:valid,
input[type="email"]:valid {
  border: 2px solid greenyellow;
}

input:focus {
  background-color: #9ba6e4;
}

.submit-btn {
  background-color: #101d6b;
  color: white;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

details > ul {
  margin-bottom: 15px;
}

.back-to-top {
  display: inline-block;
  margin-bottom: 10px;
}

footer {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

input,
select {
  box-sizing: border-box;
}

form input,
form select,
form textarea,
form .submit-btn {
  margin-bottom: 10px;
  width: 30%;
}

form label {
  width: 30%;
}
