* {
  font-family: Arial, Helvetica, sans-serif;
}

.job-position {
  font-size: 1.2em;
  margin-bottom: 10px;
}

section,
header,
footer {
  margin-left: 200px;
  margin-right: 200px;
}

section {
  border: 3px solid #101d6b;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

section > h2 {
  color: #101d6b;
}

#contact-section {
  padding-bottom: 10px;
}

.main-header {
  border-bottom: 3px solid #101d6b;
  margin-bottom: 30px;
}

.main-header__photo {
  display: inline-block;
  height: 100px;
  margin-right: 20px;
  vertical-align: middle;
}

.main-header__name {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 250px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__link {
  display: inline-block;
  padding: 0;
  margin: 0 6px;
  font-weight: 600;
  font-size: 16px;
}

.main-nav__links {
  list-style: none;
}

.main-nav__link a {
  text-decoration: none;
  color: #000000;
}

input {
  /* border: none; */
  outline: none;
}

/* input:invalid {
  border: 2px solid red;
} */

input[type="text"]:valid,
input[type="email"]:valid {
  border: 2px solid greenyellow;
}

input:focus {
  background-color: #9ba6e4;
}

.submit-btn {
  background-color: #101d6b;
  color: white;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}
